body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: $header-background-color;
    color: $text-header-color;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    h1 {
        font-size: 1.5rem;
        cursor: pointer;
        text-transform: uppercase;
    }
    .cart-total-header {
        color: $secondary-text-header-color; 
        transition: color 0.3s ease; 
    }
    .style-total-header {
        color: $secondary-text-header-color;
    }
    .cart-container {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .cart-icon {
        position: relative;
        cursor: pointer;
    }
    .cart-count-style {
        position: absolute;
        background-color: $marker-color;
        color: $text-header-color;
        border-radius: 50%;
        padding: 2px 8px;
        font-size: 1rem;
        width: 15px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        right: 35px;
        bottom: 7px;
        cursor: pointer;
        font-size: 0.8rem;
    }
}

.cart-shopping-icon {
    cursor: pointer;
    background: none;
    border: none;
}

.shopping-icon {
    font-size: 2rem;
    background: none;
    color: $secondary-text-color;
}

body.overlay-open {
    overflow: hidden;
}

/*Cart overlay that is open over everything else.*/
.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    .cart-content {
        background: $background-color;
        color: $text-color;
        padding: 20px;
        max-width: 500px;
        width: 90%;
        border-radius: 5px;
    }
    .close-btn {
        float: right;
        cursor: pointer;
        font-size: 1.5rem;
        color: $text-color;
        border: none;
        background: none;
    }
    .cart-item-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .cart-overlay-total {
        font-weight: bold;
    }
    .price-count-overlay {
        border-top: 2px solid $overlay-border;
    }
    .remove-style {
        margin-bottom: 10px;
        border-radius: 20px;
    }
}

form {
    margin-top: 20px;
    background: $background-color;
    color: $text-color;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    .form-header {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .label-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .input-header {
        font-size: 0.9rem;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .input-form, select {
        padding: 10px;
        border-radius: 4px;
        width: 100%;
        max-width: 300px;
        margin-bottom: 5px;
    }
    select {
        background-color: rgb(198, 198, 198);
    }
    .checkbox {
        gap: 10px;
        margin: 20px 20px 20px 0;
        display: inline-flex;
        .check-terms {
            cursor: pointer;
        }
        .check-subscribe {
            cursor: pointer;
        }
    }
    .error-message {
        color: $error-color;
        font-size: 0.9em;
        margin-top: 4px;
    } 
    .submit-btn {
        background-color: $submit-background-color; 
        color: $secondary-text-color;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: not-allowed; 
        transition: background-color 0.3s;
        margin-bottom: 20px;
    }
    .submit-btn.active {
        background-color: $submit-background-color-secundary; 
        cursor: pointer; 
    }
    .submit-btn:hover.active {
        background-color: $submit-background-color-hover; 
    }
    .form-reset {
        border: none;
        font-size: 1rem;
        padding: 10px 20px;
        color: $secondary-text-color;
        background-color: $reset-background-color;
        margin-bottom: 20px;
        cursor: pointer;
    }
}

.style-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    display: none;
    .confirmation-text {
        margin: 1rem;
        font-size: 1.5rem;
    }
    .confirmation-close-style {
        background-color: $background-button-color;
        color: white;
        border: none;
        padding: 13px 15px;
        font-size: 1rem;
        font-family: $secondary-font;
        margin-top: 25px;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
         background-color: $secondary-background-button-color;

        }
    }
}


main {
    font-family: $secondary-font;
}

.background-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .background-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -100;
    }
    .welcome-text {
        font-family: $secondary-font;
        font-size: 3rem;
        color: $secondary-text-color;
    }
    .timeforshopping-button {
        font-family: $secondary-font;
        padding: 10px 12px 10px 12px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: $background-button-color;
        color: $secondary-text-color;
        .arrow {
            display: inline-block;
            vertical-align: middle;
        }
        &:hover {
            background-color: $secondary-background-button-color;
        }
    }
    //Dark Light switch
    .btn-place {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        .btn {
            padding: 10px 15px 10px 15px;
            border-radius: 30px;
            cursor: pointer;
            background-color: $background-button-color;
            border: none;
            color: $secondary-text-color;
            &:hover {
                background-color: $secondary-background-button-color;
            }
        }
    }
}

.dark-theme {
    background-color: $secondary-color;
    color: $secondary-text-color;
    .cart-content {
        background-color: $secondary-color;
        color: $secondary-text-color;
    }
    .close-btn {
        color: $secondary-text-color;
    }
    form {
        background-color: $secondary-color;
        color: $secondary-text-color;
    }
}

.shop-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    .shop-header {
        margin-top: 0;
    }
    .sort-by {
        padding: 2px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
    padding-bottom: 40px;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .add-item {
        margin-top: 10px;
        padding: 5px;
        font-family: $secondary-font;
        margin-bottom: 60px;
    } 
    .rating-star {
        color: $marker-color;
        font-weight: 900;
    }
    .rating-star-empty {
        font-size: 0.8rem;
        color: $marker-color;
    }
}

footer {
    background-color: $header-background-color;
    margin: 0;
    .footer-text {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
        text-transform: uppercase;
        color: $text-header-color;
        justify-content: center;
        padding: 40px;
    }
}




