/*Color*/
$background-color: #f5deb3;
$secondary-color: #292929;
$text-color: #1d1d1d;
$secondary-text-color: #faebd7;
$submit-background-color: #989897;
$submit-background-color-secundary: #02920a;
$submit-background-color-hover: #026407;
$reset-background-color: #a30707;
$error-color: #a30707;
$overlay-border: #026407;



/*Header color*/
$header-background-color: #752922;
$text-header-color: #faebd7;
$secondary-text-header-color: #ffffff;
$marker-color: #ff0000;


/*font*/
$font-family: 'Cinzel', serif;
$secondary-font: 'Fauna One', monospace;