/*Color*/
$background-color: #f5deb3;
$secondary-color: #292929;
$header-background-color: #752922;
$text-header-color: #faebd7;


/*font*/
$font-family: 'Cinzel', serif;
$secondary-font: 'Fauna One', monospace;